<fieldset>
  <legend>Filters</legend>
  <div class="input-with-label">
    <label for="searchInput">Cocktail name</label>
    <input id="searchInput" type="text" [formControl]="searchInput"/>
  </div>
</fieldset>
<fieldset>
  @if (filtered && filtered.length) {
    <div class="cocktail_list">
      @for (cocktail of filtered; track cocktail.id) {
        <app-cocktail-item [cocktail]="cocktail"></app-cocktail-item>
      }
    </div>
  } @else {
    <h2>I could not find any cocktail with this name.</h2>
  }

</fieldset>
