.cocktail_card {
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 2px;

  img {
    flex: 1;
    max-width: 30%;
    min-width: 30%;
    overflow: hidden;
  }

}

.cocktail_content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 5px;

  .icon-star {
    align-self: end;
  }
}

h2 {
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
